* {
  font-family: "Space Grotesk", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Primary */
  --Linear-Gradient-1: hsl(249, 99%, 64%); /* (active input border) */
  /* to */
  --Linear-Gradient-2: hsl(278, 94%, 30%); /* (active input border) */

  --Red: hsl(0, 100%, 66%); /* (input errors) */

  /* Neutral */
  --White: hsl(0, 0%, 100%);
  --Light-Grayish-Violet: hsl(270, 3%, 87%);
  --Dark-Grayish-Violet: hsl(279, 6%, 55%);
  --Very-Dark-Violet: hsl(278, 68%, 11%);
}

body {
  min-height: 100vh;
}

#wrapper {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 55% 45%;
  position: relative;
  background-color: var(--White);
  z-index: -999;
}

#bg-img-desktop {
  width: 32%;
  height: 100%;
  position: absolute;
  left: 0;
  z-index: -99;
}

#bg-img-mobile {
  display: none;
}

#card-preview {
  margin-top: 15%;
  margin-left: 16%;
}

#card-front-container {
  position: relative;
  width: 447px;
  height: 245px;
}

#full-name-preview {
  position: absolute;
  bottom: 28px;
  left: 30px;
  font-size: 1.05rem;
  font-weight: 500;
  color: var(--White);
}

#exp-date-preview {
  position: absolute;
  bottom: 28px;
  right: 30px;
  font-size: 1.05rem;
  font-weight: 500;
  color: var(--White);
}

#card-no-preview {
  position: absolute;
  top: 51%;
  left: 43px;
  font-size: 2rem;
  font-weight: 500;
  color: var(--White);
}

#logo-img {
  position: absolute;
  top: 20px;
  left: 30px;
}

#card-back-container {
  position: relative;
  width: 447px;
  height: 245px;
  margin-top: 1.75rem;
  margin-left: 6rem;
}

#cvc-preview {
  position: absolute;
  right: 65px;
  top: 110px;
  font-size: 1rem;
  font-weight: 500;
  color: var(--White);
}

/* #card-form {
  margin-top: 24%;
  margin-left: 6%;
  margin-right: 17%;
}

#form {
  border: 2px solid black;
  padding: 1rem;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.input-container label {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--Very-Dark-Violet);
}

.input-container input {
  padding: 0.7rem 1rem;
}

/* .input-container input :focus {
  outline: none;
} */

#grid-container {
  display: flex;
  justify-content: space-between;
}
*/ .success-hidden {
  display: none;
}
